.container
  .row
    %h3 Add follower
    %form
      .form-group
        %label{ for: 'handle' } Twitter handle
        .input-group.col-sm-3
          .input-group-addon @
          %input.form-control{ id: 'handle' }
      %button.btn-primary.btn
        Follow 

