<!DOCTYPE html>
<html>
<head>
  <title>FollowTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
         Follow Tool
      </a>
      <p class="pull-right current-user">
        Logged in as @username
      </p>
    </div>
  </nav>

<%= yield %>

</body>
</html>
